.footer {
    background-color: #752a2a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links li a {
    color: #b1e4ca6c;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links li a:hover {
    color: #fff;
  }