.footer {
  background: 
  linear-gradient(to bottom right, white 100%, lightgray ) 0% 0% / 50% 50%, 
  linear-gradient(to bottom left, lightgray  10%, white 80%) 100% 0% / 50% 50%, 
  linear-gradient(to top right, lightgray 10%, white 80%) 0% 100% / 50% 50%, 
  linear-gradient(to top left, lightgray 10%, white 80%) 100% 100% / 50% 50%;
background-repeat: no-repeat;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links li a:hover {
    color: #ff0000;
  }