
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

.content-home{
    display: flex;

    h2 {
        color: rgb(207, 27, 27);
    }
    img {
        width: 50%;
        object-fit: cover;
        margin: 20px;
    }
}

.content-text {
    text-align: center;
    margin: 50px;
}


