<div class="content-home">
    <img src="https://www.aprendum.com/cdn/13/images/curso-online-profesional-de-montador-de-estructuras-metalicas_amp_primaria_1_1560503084.jpg"
        alt="">
    <div class="content-text">
        <h2>estructuras metalicas a la medida</h2>
        <p>¿Buscas muebles que combinen resistencia, estilo y funcionalidad? Nuestros mobiliarios metálicos están diseñados para hacer tu vida más fácil, brindando soluciones que destacan por su durabilidad y diseño innovador.
            <br>
            <br>
            Ya sea para tu hogar, oficina o negocio, nuestros muebles son la elección perfecta para quienes desean:
            <br>
            <br>
            Espacios organizados y visualmente atractivos.
            Productos que resistan el paso del tiempo sin perder su estilo.
            Diseños personalizados que se adapten a tus necesidades.
            Con una amplia variedad de opciones en estanterías, mesas, sillas y mucho más, transformamos cualquier ambiente en un lugar funcional y moderno. Además, al elegir nuestros productos, estás optando por materiales sostenibles y de alta calidad.
            <br>
            <br>
            💡 No dejes pasar la oportunidad de mejorar tus espacios con muebles que marcan la diferencia!
            <br>
            <br>
            ¡Visítanos y encuentra el mobiliario perfecto para tus necesidades!</p>
    </div>
</div>