* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #752222;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-menu li a:hover {
    color: #ff6347;
  }
  